In [17]:
import yfinance as yf
import pandas as pd
import numpy as npl
import matplotlib as mpl
import matplotlib.pyplot as ply

In [4]:
ticker = "BTC-USD","ETH-USD","XRP-USD","LTC-USD","BCH-USD","ADA-USD","DOT-USD","BNB-USD","DOGE-USD","XLM-USD","SOL-USD","USDT-USD","UNI-USD","LINK-USD","AVAX-USD"
BTC = yf.download(ticker, start="2024-06-17", end="2024-08-06")
ETH = yf.download(ticker, start="2024-06-17", end="2024-08-06")
XRP = yf.download(ticker, start="2024-06-17", end="2024-08-06")
LTC = yf.download(ticker, start="2024-06-17", end="2024-08-06")
BCH = yf.download(ticker, start="2024-06-17", end="2024-08-06")
ADA = yf.download(ticker, start="2024-06-17", end="2024-08-06")
DOT = yf.download(ticker, start="2024-06-17", end="2024-08-06")
BNB = yf.download(ticker, start="2024-06-17", end="2024-08-06")
DOGE = yf.download(ticker, start="2024-06-17", end="2024-08-06")
XLM = yf.download(ticker, start="2024-06-17", end="2024-08-06")
SOL = yf.download(ticker, start="2024-06-17", end="2024-08-06")
USDT = yf.download(ticker, start="2024-06-17", end="2024-08-06")
UNI = yf.download(ticker, start="2024-06-17", end="2024-08-06")
LINK = yf.download(ticker, start="2024-06-17", end="2024-08-06")
AVAX = yf.download(ticker, start="2024-06-17", end="2024-08-06")

[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed

In [5]:
BTC.head()

Price      Adj Close                                                   \
Ticker       ADA-USD   AVAX-USD     BCH-USD     BNB-USD       BTC-USD
Date
2024-06-17  0.401758  28.480154  420.228485  604.467346  66490.296875
2024-06-18  0.383580  26.618864  389.314880  588.702087  65140.746094
2024-06-19  0.383791  26.891941  388.660278  598.771729  64960.296875
2024-06-20  0.384244  27.544409  389.861938  587.107178  64828.656250
2024-06-21  0.376052  27.450439  382.875336  585.911926  64096.199219

Price                                                              ...  \
Ticker      DOGE-USD   DOT-USD      ETH-USD   LINK-USD    LTC-USD  ...
Date                                                               ...
2024-06-17  0.128889  6.073915  3511.378906  14.534426  76.626091  ...
2024-06-18  0.122296  5.775651  3483.681396  13.967771  72.616463  ...
2024-06-19  0.122341  5.794212  3559.347412  14.334752  73.703514  ...
2024-06-20  0.124419  5.640769  3511.086914  14.259184  74.708763  ...
2024-06-21  0.124029  5.611062  3516.075684  13.862212  74.114372  ...

Price           Volume                                                \
Ticker        DOGE-USD    DOT-USD      ETH-USD   LINK-USD    LTC-USD
Date
2024-06-17   960646592  185556256  17838856988  347472612  374224288
2024-06-18  1413960450  349859142  21022514455  537842068  615015988
2024-06-19   642487745  169602545  15275373778  271728905  294923125
2024-06-20   734399819  162420088  16115123753  270709807  328191289
2024-06-21   598393023  154582654  15933353456  336220670  357955358

Price
Ticker         SOL-USD UNI-USD     USDT-USD    XLM-USD     XRP-USD
Date
2024-06-17  2244770232      12  60712949361   89787741  2028523218
2024-06-18  4046511952      12  78695656625  133004372  2024283447
2024-06-19  2241396569      12  48283435769   51932569  1001252678
2024-06-20  2343938226      12  53052487180   51643502  1106889108
2024-06-21  2214701928      12  52864626463   61032699  1131886818

[5 rows x 90 columns]

In [6]:
BTC.tail()

Price      Adj Close                                                   \
Ticker       ADA-USD   AVAX-USD     BCH-USD     BNB-USD       BTC-USD
Date
2024-08-01  0.392706  25.723108  413.147217  575.146729  65357.500000
2024-08-02  0.363822  23.594503  381.553101  542.915161  61415.066406
2024-08-03  0.364095  22.683567  364.384613  529.481323  60680.093750
2024-08-04  0.343938  21.227669  331.857666  497.039093  58116.976562
2024-08-05  0.313155  19.549341  309.955750  464.626923  53991.457031

Price                                                              ...  \
Ticker      DOGE-USD   DOT-USD      ETH-USD   LINK-USD    LTC-USD  ...
Date                                                               ...
2024-08-01  0.119236  5.342949  3201.564453  12.899767  69.566170  ...
2024-08-02  0.111508  5.122200  2986.013184  11.917962  64.991119  ...
2024-08-03  0.108169  5.043666  2903.385742  11.701331  64.604225  ...
2024-08-04  0.103733  4.683842  2686.398926  10.871527  62.396122  ...
2024-08-05  0.094503  4.208275  2417.206299   9.501570  56.213379  ...

Price           Volume                                                  \
Ticker        DOGE-USD    DOT-USD      ETH-USD    LINK-USD     LTC-USD
Date
2024-08-01   861079384  185659075  20217639556   272062327   343996932
2024-08-02   826720039  165653318  21400241741   314138916   339170811
2024-08-03   808239471  151195181  17844091431   241776944   297433385
2024-08-04   827323034  183256632  21139601426   278122991   281214196
2024-08-05  3194029250  641150348  67668132244  1142261467  1092702214

Price
Ticker          SOL-USD UNI-USD      USDT-USD    XLM-USD     XRP-USD
Date
2024-08-01   4402828194      12   65833386618   81459832  1990603913
2024-08-02   4507521137      11   67773726855   74776367  1884164485
2024-08-03   3620526646      11   54276527600   57242439  1325726393
2024-08-04   4333596296      11   58452540746   62605222  1209933394
2024-08-05  14114308949      10  188926094526  225147367  4193893853

[5 rows x 90 columns]

In [7]:
BTC.shape

(50, 90)

In [9]:
all_columns_list = BTC.columns.values.tolist()
all_columns_list

[('Adj Close', 'ADA-USD'),
 ('Adj Close', 'AVAX-USD'),
 ('Adj Close', 'BCH-USD'),
 ('Adj Close', 'BNB-USD'),
 ('Adj Close', 'BTC-USD'),
 ('Adj Close', 'DOGE-USD'),
 ('Adj Close', 'DOT-USD'),
 ('Adj Close', 'ETH-USD'),
 ('Adj Close', 'LINK-USD'),
 ('Adj Close', 'LTC-USD'),
 ('Adj Close', 'SOL-USD'),
 ('Adj Close', 'UNI-USD'),
 ('Adj Close', 'USDT-USD'),
 ('Adj Close', 'XLM-USD'),
 ('Adj Close', 'XRP-USD'),
 ('Close', 'ADA-USD'),
 ('Close', 'AVAX-USD'),
 ('Close', 'BCH-USD'),
 ('Close', 'BNB-USD'),
 ('Close', 'BTC-USD'),
 ('Close', 'DOGE-USD'),
 ('Close', 'DOT-USD'),
 ('Close', 'ETH-USD'),
 ('Close', 'LINK-USD'),
 ('Close', 'LTC-USD'),
 ('Close', 'SOL-USD'),
 ('Close', 'UNI-USD'),
 ('Close', 'USDT-USD'),
 ('Close', 'XLM-USD'),
 ('Close', 'XRP-USD'),
 ('High', 'ADA-USD'),
 ('High', 'AVAX-USD'),
 ('High', 'BCH-USD'),
 ('High', 'BNB-USD'),
 ('High', 'BTC-USD'),
 ('High', 'DOGE-USD'),
 ('High', 'DOT-USD'),
 ('High', 'ETH-USD'),
 ('High', 'LINK-USD'),
 ('High', 'LTC-USD'),
 ('High', 'SOL-USD'),
 ('High', 'UNI-USD'),
 ('High', 'USDT-USD'),
 ('High', 'XLM-USD'),
 ('High', 'XRP-USD'),
 ('Low', 'ADA-USD'),
 ('Low', 'AVAX-USD'),
 ('Low', 'BCH-USD'),
 ('Low', 'BNB-USD'),
 ('Low', 'BTC-USD'),
 ('Low', 'DOGE-USD'),
 ('Low', 'DOT-USD'),
 ('Low', 'ETH-USD'),
 ('Low', 'LINK-USD'),
 ('Low', 'LTC-USD'),
 ('Low', 'SOL-USD'),
 ('Low', 'UNI-USD'),
 ('Low', 'USDT-USD'),
 ('Low', 'XLM-USD'),
 ('Low', 'XRP-USD'),
 ('Open', 'ADA-USD'),
 ('Open', 'AVAX-USD'),
 ('Open', 'BCH-USD'),
 ('Open', 'BNB-USD'),
 ('Open', 'BTC-USD'),
 ('Open', 'DOGE-USD'),
 ('Open', 'DOT-USD'),
 ('Open', 'ETH-USD'),
 ('Open', 'LINK-USD'),
 ('Open', 'LTC-USD'),
 ('Open', 'SOL-USD'),
 ('Open', 'UNI-USD'),
 ('Open', 'USDT-USD'),
 ('Open', 'XLM-USD'),
 ('Open', 'XRP-USD'),
 ('Volume', 'ADA-USD'),
 ('Volume', 'AVAX-USD'),
 ('Volume', 'BCH-USD'),
 ('Volume', 'BNB-USD'),
 ('Volume', 'BTC-USD'),
 ('Volume', 'DOGE-USD'),
 ('Volume', 'DOT-USD'),
 ('Volume', 'ETH-USD'),
 ('Volume', 'LINK-USD'),
 ('Volume', 'LTC-USD'),
 ('Volume', 'SOL-USD'),
 ('Volume', 'UNI-USD'),
 ('Volume', 'USDT-USD'),
 ('Volume', 'XLM-USD'),
 ('Volume', 'XRP-USD')]

In [10]:
AVAX.head()

Price      Adj Close                                                   \
Ticker       ADA-USD   AVAX-USD     BCH-USD     BNB-USD       BTC-USD
Date
2024-06-17  0.401758  28.480154  420.228485  604.467346  66490.296875
2024-06-18  0.383580  26.618864  389.314880  588.702087  65140.746094
2024-06-19  0.383791  26.891941  388.660278  598.771729  64960.296875
2024-06-20  0.384244  27.544409  389.861938  587.107178  64828.656250
2024-06-21  0.376052  27.450439  382.875336  585.911926  64096.199219

Price                                                              ...  \
Ticker      DOGE-USD   DOT-USD      ETH-USD   LINK-USD    LTC-USD  ...
Date                                                               ...
2024-06-17  0.128889  6.073915  3511.378906  14.534426  76.626091  ...
2024-06-18  0.122296  5.775651  3483.681396  13.967771  72.616463  ...
2024-06-19  0.122341  5.794212  3559.347412  14.334752  73.703514  ...
2024-06-20  0.124419  5.640769  3511.086914  14.259184  74.708763  ...
2024-06-21  0.124029  5.611062  3516.075684  13.862212  74.114372  ...

Price           Volume                                                \
Ticker        DOGE-USD    DOT-USD      ETH-USD   LINK-USD    LTC-USD
Date
2024-06-17   960646592  185556256  17838856988  347472612  374224288
2024-06-18  1413960450  349859142  21022514455  537842068  615015988
2024-06-19   642487745  169602545  15275373778  271728905  294923125
2024-06-20   734399819  162420088  16115123753  270709807  328191289
2024-06-21   598393023  154582654  15933353456  336220670  357955358

Price
Ticker         SOL-USD UNI-USD     USDT-USD    XLM-USD     XRP-USD
Date
2024-06-17  2244770232      12  60712949361   89787741  2028523218
2024-06-18  4046511952      12  78695656625  133004372  2024283447
2024-06-19  2241396569      12  48283435769   51932569  1001252678
2024-06-20  2343938226      12  53052487180   51643502  1106889108
2024-06-21  2214701928      12  52864626463   61032699  1131886818

[5 rows x 90 columns]

In [13]:
tickers = ['BTC', 'ETH', 'XRP', 'LTC-US', 'BCH', 'ADA', 'DOT', 'BNB', 'DOGE', 'XLM', 'SOL', 'USDT', 'UNI', 'LINK', 'AVAX']
H_BTC = yf.download(ticker, start="2024-06-17", end="2024-08-06")
H_ETH = yf.download(ticker, start="2024-06-17", end="2024-08-06")
H_XRP = yf.download(ticker, start="2024-06-17", end="2024-08-06")
H_LTC = yf.download(ticker, start="2024-06-17", end="2024-08-06")
H_BCH = yf.download(ticker, start="2024-06-17", end="2024-08-06")
H_ADA = yf.download(ticker, start="2024-06-17", end="2024-08-06")
H_DOT = yf.download(ticker, start="2024-06-17", end="2024-08-06")
H_BNB = yf.download(ticker, start="2024-06-17", end="2024-08-06")
H_DOGE = yf.download(ticker, start="2024-06-17", end="2024-08-06")
H_XLM = yf.download(ticker, start="2024-06-17", end="2024-08-06")
H_SOL = yf.download(ticker, start="2024-06-17", end="2024-08-06")
H_USDT = yf.download(ticker, start="2024-06-17", end="2024-08-06")
H_UNI = yf.download(ticker, start="2024-06-17", end="2024-08-06")
H_LINK = yf.download(ticker, start="2024-06-17", end="2024-08-06")
H_AVAX = yf.download(ticker, start="2024-06-17", end="2024-08-06")

[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed

In [14]:
H_BTC.head()

Price      Adj Close                                                   \
Ticker       ADA-USD   AVAX-USD     BCH-USD     BNB-USD       BTC-USD
Date
2024-06-17  0.401758  28.480154  420.228485  604.467346  66490.296875
2024-06-18  0.383580  26.618864  389.314880  588.702087  65140.746094
2024-06-19  0.383791  26.891941  388.660278  598.771729  64960.296875
2024-06-20  0.384244  27.544409  389.861938  587.107178  64828.656250
2024-06-21  0.376052  27.450439  382.875336  585.911926  64096.199219

Price                                                              ...  \
Ticker      DOGE-USD   DOT-USD      ETH-USD   LINK-USD    LTC-USD  ...
Date                                                               ...
2024-06-17  0.128889  6.073915  3511.378906  14.534426  76.626091  ...
2024-06-18  0.122296  5.775651  3483.681396  13.967771  72.616463  ...
2024-06-19  0.122341  5.794212  3559.347412  14.334752  73.703514  ...
2024-06-20  0.124419  5.640769  3511.086914  14.259184  74.708763  ...
2024-06-21  0.124029  5.611062  3516.075684  13.862212  74.114372  ...

Price           Volume                                                \
Ticker        DOGE-USD    DOT-USD      ETH-USD   LINK-USD    LTC-USD
Date
2024-06-17   960646592  185556256  17838856988  347472612  374224288
2024-06-18  1413960450  349859142  21022514455  537842068  615015988
2024-06-19   642487745  169602545  15275373778  271728905  294923125
2024-06-20   734399819  162420088  16115123753  270709807  328191289
2024-06-21   598393023  154582654  15933353456  336220670  357955358

Price
Ticker         SOL-USD UNI-USD     USDT-USD    XLM-USD     XRP-USD
Date
2024-06-17  2244770232      12  60712949361   89787741  2028523218
2024-06-18  4046511952      12  78695656625  133004372  2024283447
2024-06-19  2241396569      12  48283435769   51932569  1001252678
2024-06-20  2343938226      12  53052487180   51643502  1106889108
2024-06-21  2214701928      12  52864626463   61032699  1131886818

[5 rows x 90 columns]

In [19]:
tickers = ['BTC_USD', 'ETH-USD']
_BTC = yf.download(ticker, start="2024-06-17", end="2024-08-06")
_ETH = yf.download(ticker, start="2024-06-17", end="2024-08-06")

[*********************100%%**********************]  15 of 15 completed
[*********************100%%**********************]  15 of 15 completed

In [16]:
HD_BTC.head()

Price      Adj Close                                                   \
Ticker       ADA-USD   AVAX-USD     BCH-USD     BNB-USD       BTC-USD
Date
2024-06-17  0.401758  28.480154  420.228485  604.467346  66490.296875
2024-06-18  0.383580  26.618864  389.314880  588.702087  65140.746094
2024-06-19  0.383791  26.891941  388.660278  598.771729  64960.296875
2024-06-20  0.384244  27.544409  389.861938  587.107178  64828.656250
2024-06-21  0.376052  27.450439  382.875336  585.911926  64096.199219

Price                                                              ...  \
Ticker      DOGE-USD   DOT-USD      ETH-USD   LINK-USD    LTC-USD  ...
Date                                                               ...
2024-06-17  0.128889  6.073915  3511.378906  14.534426  76.626091  ...
2024-06-18  0.122296  5.775651  3483.681396  13.967771  72.616463  ...
2024-06-19  0.122341  5.794212  3559.347412  14.334752  73.703514  ...
2024-06-20  0.124419  5.640769  3511.086914  14.259184  74.708763  ...
2024-06-21  0.124029  5.611062  3516.075684  13.862212  74.114372  ...

Price           Volume                                                \
Ticker        DOGE-USD    DOT-USD      ETH-USD   LINK-USD    LTC-USD
Date
2024-06-17   960646592  185556256  17838856988  347472612  374224288
2024-06-18  1413960450  349859142  21022514455  537842068  615015988
2024-06-19   642487745  169602545  15275373778  271728905  294923125
2024-06-20   734399819  162420088  16115123753  270709807  328191289
2024-06-21   598393023  154582654  15933353456  336220670  357955358

Price
Ticker         SOL-USD UNI-USD     USDT-USD    XLM-USD     XRP-USD
Date
2024-06-17  2244770232      12  60712949361   89787741  2028523218
2024-06-18  4046511952      12  78695656625  133004372  2024283447
2024-06-19  2241396569      12  48283435769   51932569  1001252678
2024-06-20  2343938226      12  53052487180   51643502  1106889108
2024-06-21  2214701928      12  52864626463   61032699  1131886818

[5 rows x 90 columns]

In [18]:
HD_ETH.head()

Price      Adj Close                                                   \
Ticker       ADA-USD   AVAX-USD     BCH-USD     BNB-USD       BTC-USD
Date
2024-06-17  0.401758  28.480154  420.228485  604.467346  66490.296875
2024-06-18  0.383580  26.618864  389.314880  588.702087  65140.746094
2024-06-19  0.383791  26.891941  388.660278  598.771729  64960.296875
2024-06-20  0.384244  27.544409  389.861938  587.107178  64828.656250
2024-06-21  0.376052  27.450439  382.875336  585.911926  64096.199219

Price                                                              ...  \
Ticker      DOGE-USD   DOT-USD      ETH-USD   LINK-USD    LTC-USD  ...
Date                                                               ...
2024-06-17  0.128889  6.073915  3511.378906  14.534426  76.626091  ...
2024-06-18  0.122296  5.775651  3483.681396  13.967771  72.616463  ...
2024-06-19  0.122341  5.794212  3559.347412  14.334752  73.703514  ...
2024-06-20  0.124419  5.640769  3511.086914  14.259184  74.708763  ...
2024-06-21  0.124029  5.611062  3516.075684  13.862212  74.114372  ...

Price           Volume                                                \
Ticker        DOGE-USD    DOT-USD      ETH-USD   LINK-USD    LTC-USD
Date
2024-06-17   960646592  185556256  17838856988  347472612  374224288
2024-06-18  1413960450  349859142  21022514455  537842068  615015988
2024-06-19   642487745  169602545  15275373778  271728905  294923125
2024-06-20   734399819  162420088  16115123753  270709807  328191289
2024-06-21   598393023  154582654  15933353456  336220670  357955358

Price
Ticker         SOL-USD UNI-USD     USDT-USD    XLM-USD     XRP-USD
Date
2024-06-17  2244770232      12  60712949361   89787741  2028523218
2024-06-18  4046511952      12  78695656625  133004372  2024283447
2024-06-19  2241396569      12  48283435769   51932569  1001252678
2024-06-20  2343938226      12  53052487180   51643502  1106889108
2024-06-21  2214701928      12  52864626463   61032699  1131886818

[5 rows x 90 columns]

In [20]:
_BTC.head()

Price      Adj Close                                                   \
Ticker       ADA-USD   AVAX-USD     BCH-USD     BNB-USD       BTC-USD
Date
2024-06-17  0.401758  28.480154  420.228485  604.467346  66490.296875
2024-06-18  0.383580  26.618864  389.314880  588.702087  65140.746094
2024-06-19  0.383791  26.891941  388.660278  598.771729  64960.296875
2024-06-20  0.384244  27.544409  389.861938  587.107178  64828.656250
2024-06-21  0.376052  27.450439  382.875336  585.911926  64096.199219

Price                                                              ...  \
Ticker      DOGE-USD   DOT-USD      ETH-USD   LINK-USD    LTC-USD  ...
Date                                                               ...
2024-06-17  0.128889  6.073915  3511.378906  14.534426  76.626091  ...
2024-06-18  0.122296  5.775651  3483.681396  13.967771  72.616463  ...
2024-06-19  0.122341  5.794212  3559.347412  14.334752  73.703514  ...
2024-06-20  0.124419  5.640769  3511.086914  14.259184  74.708763  ...
2024-06-21  0.124029  5.611062  3516.075684  13.862212  74.114372  ...

Price           Volume                                                \
Ticker        DOGE-USD    DOT-USD      ETH-USD   LINK-USD    LTC-USD
Date
2024-06-17   960646592  185556256  17838856988  347472612  374224288
2024-06-18  1413960450  349859142  21022514455  537842068  615015988
2024-06-19   642487745  169602545  15275373778  271728905  294923125
2024-06-20   734399819  162420088  16115123753  270709807  328191289
2024-06-21   598393023  154582654  15933353456  336220670  357955358

Price
Ticker         SOL-USD UNI-USD     USDT-USD    XLM-USD     XRP-USD
Date
2024-06-17  2244770232      12  60712949361   89787741  2028523218
2024-06-18  4046511952      12  78695656625  133004372  2024283447
2024-06-19  2241396569      12  48283435769   51932569  1001252678
2024-06-20  2343938226      12  53052487180   51643502  1106889108
2024-06-21  2214701928      12  52864626463   61032699  1131886818

[5 rows x 90 columns]

In [21]:
ticker = "BTC-USD"
hist_BTC = yf.download(ticker, start="2024-07-16", end="2024-08-17")

[*********************100%%**********************]  1 of 1 completed

In [22]:
hist_BTC.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-07-16,64784.417969,65354.339844,62487.968750,65097.148438,65097.148438,41617346768
2024-07-17,65091.832031,66066.734375,63896.085938,64118.792969,64118.792969,32525071311
2024-07-18,64104.738281,65104.660156,63246.164062,63974.066406,63974.066406,27239305337
2024-07-19,63972.324219,67442.640625,63329.343750,66710.156250,66710.156250,37003855410
2024-07-20,66709.921875,67610.734375,66299.617188,67163.648438,67163.648438,19029581250

In [23]:
H_BNB.head()

Price      Adj Close                                                   \
Ticker       ADA-USD   AVAX-USD     BCH-USD     BNB-USD       BTC-USD
Date
2024-06-17  0.401758  28.480154  420.228485  604.467346  66490.296875
2024-06-18  0.383580  26.618864  389.314880  588.702087  65140.746094
2024-06-19  0.383791  26.891941  388.660278  598.771729  64960.296875
2024-06-20  0.384244  27.544409  389.861938  587.107178  64828.656250
2024-06-21  0.376052  27.450439  382.875336  585.911926  64096.199219

Price                                                              ...  \
Ticker      DOGE-USD   DOT-USD      ETH-USD   LINK-USD    LTC-USD  ...
Date                                                               ...
2024-06-17  0.128889  6.073915  3511.378906  14.534426  76.626091  ...
2024-06-18  0.122296  5.775651  3483.681396  13.967771  72.616463  ...
2024-06-19  0.122341  5.794212  3559.347412  14.334752  73.703514  ...
2024-06-20  0.124419  5.640769  3511.086914  14.259184  74.708763  ...
2024-06-21  0.124029  5.611062  3516.075684  13.862212  74.114372  ...

Price           Volume                                                \
Ticker        DOGE-USD    DOT-USD      ETH-USD   LINK-USD    LTC-USD
Date
2024-06-17   960646592  185556256  17838856988  347472612  374224288
2024-06-18  1413960450  349859142  21022514455  537842068  615015988
2024-06-19   642487745  169602545  15275373778  271728905  294923125
2024-06-20   734399819  162420088  16115123753  270709807  328191289
2024-06-21   598393023  154582654  15933353456  336220670  357955358

Price
Ticker         SOL-USD UNI-USD     USDT-USD    XLM-USD     XRP-USD
Date
2024-06-17  2244770232      12  60712949361   89787741  2028523218
2024-06-18  4046511952      12  78695656625  133004372  2024283447
2024-06-19  2241396569      12  48283435769   51932569  1001252678
2024-06-20  2343938226      12  53052487180   51643502  1106889108
2024-06-21  2214701928      12  52864626463   61032699  1131886818

[5 rows x 90 columns]

In [24]:
ticker = "ETH-USD"
hist_ETH = yf.download(ticker, start="2024-07-16", end="2024-08-17")

[*********************100%%**********************]  1 of 1 completed

In [25]:
ticker = "XRP-USD"
hist_XRP = yf.download(ticker, start="2024-07-16", end="2024-08-17")

[*********************100%%**********************]  1 of 1 completed

In [26]:
ticker = "LTC-USD"
hist_LTC = yf.download(ticker, start="2024-07-16", end="2024-08-17")

[*********************100%%**********************]  1 of 1 completed

In [27]:
ticker = "BCH-USD"
hist_BCH = yf.download(ticker, start="2024-07-16", end="2024-08-17")

[*********************100%%**********************]  1 of 1 completed

In [28]:
ticker = "ADA-USD"
hist_ADA = yf.download(ticker, start="2024-07-16", end="2024-08-17")

[*********************100%%**********************]  1 of 1 completed

In [29]:
ticker = "DOT-USD"
hist_DOT = yf.download(ticker, start="2024-07-16", end="2024-08-17")

[*********************100%%**********************]  1 of 1 completed

In [30]:
ticker = "BNB-USD"
hist_BNB = yf.download(ticker, start="2024-07-16", end="2024-08-17")

[*********************100%%**********************]  1 of 1 completed

In [31]:
ticker = "DOGE-USD"
hist_DOGE = yf.download(ticker, start="2024-07-16", end="2024-08-17")

[*********************100%%**********************]  1 of 1 completed

In [32]:
ticker = "XLM-USD"
hist_XLM = yf.download(ticker, start="2024-07-16", end="2024-08-17")

[*********************100%%**********************]  1 of 1 completed

In [33]:
ticker = "SOL-USD"
hist_SOL = yf.download(ticker, start="2024-07-16", end="2024-08-17")

[*********************100%%**********************]  1 of 1 completed

In [34]:
ticker = "USDT-USD"
hist_USDT = yf.download(ticker, start="2024-07-16", end="2024-08-17")

[*********************100%%**********************]  1 of 1 completed

In [35]:
ticker = "UNI-USD"
hist_UNI = yf.download(ticker, start="2024-07-16", end="2024-08-17")

[*********************100%%**********************]  1 of 1 completed

In [36]:
ticker = "LINK-USD"
hist_LINK = yf.download(ticker, start="2024-07-16", end="2024-08-17")

[*********************100%%**********************]  1 of 1 completed

In [37]:
ticker = "AVAX-USD"
hist_AVAX = yf.download(ticker, start="2024-07-16", end="2024-08-17")

[*********************100%%**********************]  1 of 1 completed

In [38]:
hist_ETH.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-07-16,3486.144043,3498.218994,3351.779785,3443.513428,3443.513428,20446664416
2024-07-17,3446.736816,3516.104248,3379.099609,3388.752441,3388.752441,16739123962
2024-07-18,3388.030029,3488.715576,3374.990479,3426.258545,3426.258545,15035622003
2024-07-19,3425.908691,3540.588379,3377.877686,3505.734863,3505.734863,17705629736
2024-07-20,3505.721436,3539.904297,3482.489014,3519.295410,3519.295410,10360198325

In [39]:
hist_ETH.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-08-02,3201.599365,3214.527100,2965.733887,2986.013184,2986.013184,21400241741
2024-08-03,2985.950928,3015.296143,2861.177490,2903.385742,2903.385742,17844091431
2024-08-04,2903.088623,2931.471680,2639.566650,2686.398926,2686.398926,21139601426
2024-08-05,2686.027588,2695.886719,2122.546143,2417.206299,2417.206299,67668132244
2024-08-06,2418.870605,2552.306396,2418.870605,2486.834473,2486.834473,26119739392

In [41]:
hist_XRP.head()

                Open      High       Low     Close  Adj Close      Volume
Date
2024-07-16  0.537753  0.592527  0.534284  0.579376   0.579376  3380662320
2024-07-17  0.579373  0.636644  0.579373  0.626486   0.626486  3708255186
2024-07-18  0.626589  0.635987  0.560432  0.569574   0.569574  2986711547
2024-07-19  0.569608  0.586012  0.542638  0.573752   0.573752  2340175055
2024-07-20  0.573729  0.603782  0.571832  0.594651   0.594651  1538358691

In [43]:
hist_XRP.tail()

                Open      High       Low     Close  Adj Close      Volume
Date
2024-08-02  0.596463  0.596466  0.549636  0.560771   0.560771  1884164485
2024-08-03  0.560771  0.576546  0.542472  0.556391   0.556391  1325726393
2024-08-04  0.556390  0.558306  0.516428  0.523396   0.523396  1209933394
2024-08-05  0.523396  0.525283  0.433492  0.489466   0.489466  4193893853
2024-08-06  0.489298  0.518437  0.489298  0.509000   0.509000  1777139968

In [44]:
hist_LTC.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2024-07-16  72.434692  73.991928  70.598679  73.201447  73.201447  382767108
2024-07-17  73.207596  74.194038  71.341942  71.420448  71.420448  299830129
2024-07-18  71.416466  72.885849  70.711319  71.610229  71.610229  249796825
2024-07-19  71.608650  74.111053  69.776512  73.456703  73.456703  316824843
2024-07-20  73.456818  73.855354  72.489876  73.073494  73.073494  215480330

In [45]:
hist_LTC.tail()

                 Open       High        Low      Close  Adj Close      Volume
Date
2024-08-02  69.565987  69.822922  64.320305  64.991119  64.991119   339170811
2024-08-03  64.991676  66.288132  62.748089  64.604225  64.604225   297433385
2024-08-04  64.603889  65.132408  60.656128  62.396122  62.396122   281214196
2024-08-05  62.396214  62.491745  50.429405  56.213379  56.213379  1092702214
2024-08-06  56.192234  59.231239  56.192234  58.642494  58.642494   351586080

In [47]:
hist_BCH.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-07-16,400.668213,404.218201,371.188629,387.094238,387.094238,396734235
2024-07-17,387.131134,397.793121,372.629974,375.725311,375.725311,322763583
2024-07-18,375.732727,386.028625,371.175354,382.845245,382.845245,267578836
2024-07-19,382.847595,400.018280,370.334503,391.826538,391.826538,296593090
2024-07-20,391.826538,398.721649,386.337555,395.618164,395.618164,208701674

In [48]:
hist_BCH.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-08-02,413.147217,416.328247,379.545990,381.553101,381.553101,344448094
2024-08-03,381.553101,385.376923,355.982056,364.384613,364.384613,300350654
2024-08-04,364.384613,366.618347,331.586273,331.857666,331.857666,338173942
2024-08-05,331.841644,333.955872,277.620331,309.955750,309.955750,733413582
2024-08-06,309.936035,329.916229,308.726562,318.340118,318.340118,352133600

In [49]:
hist_ADA.head()

                Open      High       Low     Close  Adj Close     Volume
Date
2024-07-16  0.445492  0.452194  0.427386  0.438189   0.438189  485890791
2024-07-17  0.438226  0.455223  0.436724  0.436748   0.436748  389017769
2024-07-18  0.436690  0.448664  0.420814  0.423906   0.423906  338163499
2024-07-19  0.423898  0.442765  0.415931  0.439034   0.439034  340393258
2024-07-20  0.439033  0.441672  0.428813  0.437637   0.437637  250105075

In [50]:
hist_ADA.tail()

                Open      High       Low     Close  Adj Close      Volume
Date
2024-08-02  0.392706  0.394263  0.360289  0.363822   0.363822   391092412
2024-08-03  0.363822  0.372484  0.350350  0.364095   0.364095   309403901
2024-08-04  0.364106  0.366993  0.335569  0.343938   0.343938   317908629
2024-08-05  0.343938  0.345469  0.279886  0.313155   0.313155  1211794401
2024-08-06  0.313098  0.336075  0.313098  0.332423   0.332423   410751872

In [51]:
hist_DOT.head()

                Open      High       Low     Close  Adj Close     Volume
Date
2024-07-16  6.496417  6.506252  6.149690  6.344223   6.344223  227737448
2024-07-17  6.343821  6.527833  6.257976  6.259861   6.259861  184124455
2024-07-18  6.258707  6.396080  6.045522  6.093573   6.093573  183527904
2024-07-19  6.093509  6.349837  6.016586  6.346135   6.346135  168630679
2024-07-20  6.346166  6.396585  6.235893  6.337130   6.337130  115131117

In [52]:
hist_DOT.tail()

                Open      High       Low     Close  Adj Close     Volume
Date
2024-08-02  5.342949  5.358197  5.016778  5.122200   5.122200  165653318
2024-08-03  5.122200  5.200541  4.867707  5.043666   5.043666  151195181
2024-08-04  5.043663  5.088066  4.557234  4.683842   4.683842  183256632
2024-08-05  4.683788  4.710947  3.647517  4.208275   4.208275  641150348
2024-08-06  4.207362  4.597542  4.207362  4.536385   4.536385  213242192

In [53]:
hist_BNB.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-07-16,586.009399,587.395508,556.670532,576.583984,576.583984,2082707183
2024-07-17,576.560730,584.009460,565.417664,568.912720,568.912720,1739938322
2024-07-18,568.968262,579.343323,562.932739,571.951538,571.951538,1636814280
2024-07-19,571.927124,598.052917,565.973877,593.702148,593.702148,2052978808
2024-07-20,593.709351,598.301270,587.283997,593.572205,593.572205,1585229672

In [54]:
hist_BNB.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-08-02,575.146729,577.001160,540.118652,542.915161,542.915161,2062337930
2024-08-03,542.915161,544.666687,522.195740,529.481323,529.481323,1826715291
2024-08-04,529.481323,531.615784,488.248810,497.039093,497.039093,1980159444
2024-08-05,497.039093,499.389435,407.524597,464.626923,464.626923,4703145244
2024-08-06,464.459869,492.489349,464.459869,488.685333,488.685333,2114355840

In [55]:
hist_DOGE.head()

                Open      High       Low     Close  Adj Close      Volume
Date
2024-07-16  0.125164  0.127257  0.119371  0.124931   0.124931  1023424280
2024-07-17  0.124933  0.127506  0.120643  0.121884   0.121884   731025036
2024-07-18  0.121879  0.123843  0.117573  0.119496   0.119496   710080580
2024-07-19  0.119501  0.126056  0.117908  0.125480   0.125480   724349409
2024-07-20  0.125475  0.135646  0.124485  0.134430   0.134430  1109519614

In [56]:
hist_DOGE.tail()

                Open      High       Low     Close  Adj Close      Volume
Date
2024-08-02  0.119235  0.119513  0.110567  0.111508   0.111508   826720039
2024-08-03  0.111507  0.114497  0.105418  0.108169   0.108169   808239471
2024-08-04  0.108169  0.109214  0.099606  0.103733   0.103733   827323034
2024-08-05  0.103732  0.104166  0.080831  0.094503   0.094503  3194029250
2024-08-06  0.094423  0.101361  0.094407  0.097023   0.097023  1151426688

In [57]:
hist_XLM.head()

                Open      High       Low     Close  Adj Close     Volume
Date
2024-07-16  0.104853  0.108935  0.101331  0.106928   0.106928  180892908
2024-07-17  0.106930  0.112228  0.106204  0.109941   0.109941  154457710
2024-07-18  0.109967  0.111148  0.101473  0.103201   0.103201  112040274
2024-07-19  0.103199  0.105584  0.101180  0.105381   0.105381   75421249
2024-07-20  0.105368  0.106835  0.104161  0.105326   0.105326   62925789

In [58]:
hist_XLM.tail()

                Open      High       Low     Close  Adj Close     Volume
Date
2024-08-02  0.099342  0.099420  0.093574  0.095510   0.095510   74776367
2024-08-03  0.095510  0.095888  0.091765  0.093412   0.093412   57242439
2024-08-04  0.093412  0.093416  0.086720  0.088190   0.088190   62605222
2024-08-05  0.088189  0.089142  0.075918  0.088085   0.088085  225147367
2024-08-06  0.088043  0.092970  0.088043  0.092618   0.092618   89070360

In [59]:
hist_SOL.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-07-16,159.773331,162.469513,153.053726,160.551880,160.551880,3034234774
2024-07-17,160.563293,163.595230,155.067032,155.584106,155.584106,2255652667
2024-07-18,155.591049,161.587158,155.566040,159.072418,159.072418,2044591406
2024-07-19,159.092331,171.506744,156.606537,169.185867,169.185867,3617009839
2024-07-20,169.182617,174.831299,167.557312,173.891785,173.891785,1908476088

In [60]:
hist_SOL.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-08-02,167.660538,169.043961,150.084991,152.638229,152.638229,4507521137
2024-08-03,152.638229,153.776855,140.221405,142.921997,142.921997,3620526646
2024-08-04,142.921951,145.837662,132.139679,138.055084,138.055084,4333596296
2024-08-05,138.052689,139.141464,110.609558,129.864304,129.864304,14114308949
2024-08-06,129.788574,148.341599,129.788574,147.205856,147.205856,5823153152

In [61]:
hist_USDT.head()

                Open      High       Low     Close  Adj Close       Volume
Date
2024-07-16  1.000608  1.001347  1.000156  1.000626   1.000626  76288567031
2024-07-17  1.000690  1.001371  0.999953  1.000186   1.000186  61898179810
2024-07-18  1.000306  1.001461  0.999684  0.999831   0.999831  53674693484
2024-07-19  0.999791  1.001568  0.999611  1.000518   1.000518  64622483446
2024-07-20  1.000513  1.001503  1.000211  1.000447   1.000447  40368955293

In [62]:
hist_USDT.tail()

                Open      High       Low     Close  Adj Close        Volume
Date
2024-08-02  0.999078  1.001019  0.998572  0.998675   0.998675   67773726855
2024-08-03  0.998658  1.000951  0.998303  0.999599   0.999599   54276527600
2024-08-04  0.999571  1.001062  0.998860  0.999680   0.999680   58452540746
2024-08-05  0.999606  1.002500  0.998652  1.000365   1.000365  188926094526
2024-08-06  1.000421  1.001761  1.000093  1.000430   1.000430   81930084352

In [63]:
hist_UNI.head()

                Open      High       Low     Close  Adj Close  Volume
Date
2024-07-16  0.000130  0.000131  0.000125  0.000130   0.000130      12
2024-07-17  0.000130  0.000132  0.000128  0.000128   0.000128      12
2024-07-18  0.000128  0.000130  0.000127  0.000128   0.000128      12
2024-07-19  0.000128  0.000135  0.000127  0.000133   0.000133      12
2024-07-20  0.000133  0.000135  0.000133  0.000134   0.000134      12

In [64]:
hist_UNI.tail()

                Open      High       Low     Close  Adj Close  Volume
Date
2024-08-02  0.000131  0.000131  0.000123  0.000123   0.000123      11
2024-08-03  0.000123  0.000124  0.000120  0.000121   0.000121      11
2024-08-04  0.000121  0.000122  0.000115  0.000116   0.000116      11
2024-08-05  0.000116  0.000116  0.000099  0.000108   0.000108      10
2024-08-06  0.000108  0.000114  0.000108  0.000113   0.000113      10

In [65]:
hist_LINK.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2024-07-16  14.419723  14.604160  13.846370  14.221346  14.221346  385605505
2024-07-17  14.221267  14.497536  13.745590  13.754620  13.754620  309881695
2024-07-18  13.753578  13.976606  13.434306  13.600838  13.600838  290769371
2024-07-19  13.600456  14.137709  13.382308  14.075930  14.075930  305963751
2024-07-20  14.075899  14.329722  13.886574  14.268175  14.268175  226135145

In [66]:
hist_LINK.tail()

                 Open       High        Low      Close  Adj Close      Volume
Date
2024-08-02  12.899447  12.916153  11.787347  11.917962  11.917962   314138916
2024-08-03  11.917909  12.110446  11.374036  11.701331  11.701331   241776944
2024-08-04  11.700779  11.762272  10.534319  10.871527  10.871527   278122991
2024-08-05  10.871435  10.944942   8.137649   9.501570   9.501570  1142261467
2024-08-06   9.499903  10.447206   9.499903  10.125568  10.125568   406053344

In [67]:
hist_AVAX.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2024-07-16  27.849106  29.207748  26.536854  28.030329  28.030329  474045817
2024-07-17  28.031059  28.995689  27.253254  27.253254  27.253254  364404918
2024-07-18  27.251877  27.911972  26.711889  27.138296  27.138296  270954780
2024-07-19  27.137289  28.409578  26.707508  28.187994  28.187994  337996220
2024-07-20  28.187994  29.167200  27.870279  29.130953  29.130953  247061759

In [68]:
hist_AVAX.tail()

                 Open       High        Low      Close  Adj Close     Volume
Date
2024-08-02  25.723108  25.854929  23.431133  23.594503  23.594503  325550807
2024-08-03  23.594666  24.075813  22.250193  22.683567  22.683567  270795273
2024-08-04  22.683567  22.925484  20.667839  21.227669  21.227669  270824417
2024-08-05  21.227669  21.338310  17.487194  19.549341  19.549341  987178111
2024-08-06  19.545992  21.431789  19.545992  21.135279  21.135279  356735904